@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=latin-ext');

@import url("/css/normalize.css");

/* OTHER STUFF STYLES START */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    color: #ffffff;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background: linear-gradient(rgba(75, 75, 75, 0.9), rgba(75, 75, 75, 0.9));
}

.text-color-blue {
    color: #44b2e2;
}

.main {
    width: 100%;
    height: auto;
}

.section-title {
    display: table;
    margin: 0 auto;
}

.section-title {
    position: relative;
    color: #ffffff;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.5rem 4rem;
    background-color: #44b2e2;
    border-radius: 1rem;
    filter: drop-shadow(0 0.1rem 1rem rgba(0, 0, 0, .8));
    text-align: center;
    margin-top: 5rem;
}

.section-title:before {
    position: absolute;
    content: '';
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 1.5rem 1.3rem 0 1.5rem;
    border-color: #44b2e2 transparent transparent transparent;
}

/* OTHER STUFF STYLES END */

/* MENU STYLES START */


/* MENU STYLES END */

/* HOME SECTION STYLES START */
.home {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(75, 75, 75, 0.8), rgba(75, 75, 75, 0.8)), url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bf453d8de413fcdece9ac11275bbc8c&auto=format&fit=crop&w=925&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    text-align: center;
}

.home h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    margin-top: 25vh;
    margin-bottom: 0;
}

.home h2 {
    background: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 0.2rem 0.1rem;
}

.home p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

#text-typing-animation:after {
    content: "|";
    font-size: 2rem;
    font-weight: bold;
    animation: cursor-blink 300ms ease-in-out infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.home .social-icons {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.home .social-icons li {
    float: left;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.home .social-icons a {
    font-size: 3rem;
    padding: 0.5rem;
}

.home .social-icons a:hover {
    color: #44b2e2;
    transition: all 0.5s ease-in-out;
}

/* HOME SECTION STYLES END */


/* ABOUT SECTION STYLES START */
.about {
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    overflow: hidden;
}

.about .about-container {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    float: left;
    overflow: hidden;
}

.about .about-container .about-container-text-box {
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
    text-align: left;
}

.about .about-container .about-container-text-box h2 {
    font-size: 2.3rem;
    font-weight: 400;
    color: #143543;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about .about-container .about-container-text-box span {
    font-weight: bold;
}

.about .about-container .about-container-text-box p {
    font-size: 1.5rem;
    color: #143543;
    font-weight: 300;
    line-height: 2.3rem;
    text-align: justify;
}

.about .about-container .buttons-container {
    width: 100%;
    text-align: center;
}

.about .about-container .buttons-container a {
    display: inline-block;
    width: 16rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #0a87bd, #44b2e2);
    cursor: pointer;
    border: 0.1rem solid #143543;
    border-radius: 0.3rem;
    padding: 1.2rem 1rem;
    transition: all 20ms ease-out;


}

.about .about-container .buttons-container a:hover {
    background-image: linear-gradient(to bottom, #44b2e2, #0a87bd);
    color: #143543;
}

.about .about-container .buttons-container a i {
    margin-right: 0.5rem;
}

/* ABOUT SECTION STYLES END*/

/* SKILLS SECTION STYLES START */
.skills {
    width: 100%;
    height: auto;
    background-color: #1b1a1f;
    overflow: hidden;
}


.skills .icons-container {
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

.skills .icons-container h2 {
    margin-top: 5rem;
    font-size: 2rem;
    color: #fff;
}

.skills .icons-container .icon-box {
    display: inline-block;
    width: 24%;
    height: 7rem;
    margin: 5rem 0;
}

.skills .icons-container .icon-box .icon i,
.skills .icons-container .icon-box .icon img {
    position: relative;
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
    color: #44b2e2;
}

.skills .icons-container .icon-box .icon .icon-title {
    color: #ddd;
    text-align: center;
    font-size: 1.7rem;
}

/* SKILLS SECTION STYLES END /*

/* PORTFOLIO SECTION STYLES START */

.portfolio {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
}

.portfolio #buttons-container {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.portfolio #buttons-container .btn:hover {
    background-image: linear-gradient(to bottom, #44b2e2, #0a87bd);
    color: #143543;
}

.portfolio #buttons-container .btn {
    display: inline-block;
    background: transparent;
    width: 20rem;
    border: 0.1rem solid #143543;
    border-radius: 0.3rem;
    padding: 0.7rem 0 0.7rem 0;
    margin: 1rem 0.5rem 0 0;
    transition: all 20ms ease-out;
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    cursor: pointer;

}

.portfolio #buttons-container .active {
    background-image: linear-gradient(to bottom, #44b2e2, #0a87bd);
    color: #143543;
}

.portfolio-container,
.portfolio-container .project-box {
    padding: 1.5rem;
}

.portfolio-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    flex: 0 0 auto;
    width: 35rem;
    display: none;

}

.content {
    width: 100%;
    height: 25rem;
    position: relative;
    background-color: #143543;
    text-align: center;
    padding: 0.2rem;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.project-box .content img {
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}

.content-show {
    display: block;
}

.project-box .content .project-description {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    background-color: rgba(255, 231, 179, 0.3);
    top: 0;
    left: 0;
    transition: all 0.5s linear;
    filter: alpha(opacity=0);
    opacity: 0;
}

.project-box .content h2 {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    background: transparent;
    font-size: 2rem;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2rem 4rem 0 4rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transition: all 0.5s linear;
    filter: alpha(opacity=0);
    opacity: 0;
}

.project-box .content p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    filter: alpha(opacity=0);
    transform: scale(0);
    transition: all 0.5s linear;
}

.project-box .content:hover img {
    transform: scale(2);
    opacity: 0.1;
}

.project-box .content:hover .project-description {
    opacity: 1;
}

.project-box .content:hover h2,
.project-box .content:hover p,
.project-box .content:hover a.info {
    transform: scale(1);
    opacity: 1;
}

.project-box .content:hover .project-description .buttons-container {
    width: 100%;
    text-align: center;
    filter: alpha(opacity=0);
    transform: scale(1);
    transition: all 0.5s linear;
}

.project-box .content .project-description .buttons-container {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    filter: alpha(opacity=0);
    transform: scale(0);
    transition: all 0.5s linear;
}

.project-box .content .project-description .buttons-container .btn {
    display: inline-block;
    width: 10rem;
    background-color: #333;
    padding: 0.3rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    border: 0.1rem solid #143543;
    border-radius: 0.3rem;
}

.project-box .content .project-description .buttons-container .btn:hover {
    background-image: linear-gradient(to bottom, #44b2e2, #0a87bd);
    color: #143543;
}

/* PORTFOLIO SECTION STYLES END */

/* CONTACT SECTION STYLES START */
.contact {
    width: 100%;
    min-height: 100vh;
    background-color: #545A68;
    overflow: hidden;
}

.contact .contact-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contact .contact-container .left-column,
.contact .contact-container .right-column {
    width: 45%;
    height: auto;
    float: left;

}

.contact .contact-container .left-column form {
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.contact .contact-container .left-column form .inputWithIcon input,
.contact .contact-container .left-column form .inputWithIcon select {
    width: 90%;
    height: 4rem;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #44b2e2;
    transition: .3s;
    padding-left: 5rem;
}

.contact .contact-container .left-column form .inputWithIcon select {
    width: 90%;
}

.contact .contact-container .left-column form .inputWithIcon,
.selectWithIcon {
    position: relative;
}

.inputWithIcon i,
.selectWithIcon i {
    position: absolute;
    width: 4rem;
    background-color: #fff;
    top: 0;
    left: 5%;
    margin-top: 2rem;
    padding: 1.45rem 1rem;
    color: #44b2e2;
    border: 0.1rem solid #44b2e2;
    border-radius: 0.3rem 0 0 0.3rem;
    transition: 1s;
}

.inputWithIcon input:focus+i,
.selectWithIcon select:focus+i {
    background-color: #44b2e2;
    color: #fff;
}

.contact .contact-container .left-column form .submit-button {
    width: 90%;
    height: 4rem;
    margin-top: 2rem;
    background-color: #44b2e2;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border: 0.1rem solid #0a87bd;
    border-radius: 0.5rem;
    padding: 0;
    margin-left: 5%;
}

.contact .contact-container .left-column form .submit-button:hover {
    background-image: linear-gradient(to bottom, #0a87bd, #44b2e2);
}

.textarea {
    width: 90%;
    height: 15rem;
    margin-left: 5%;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 0.4rem;
    background-color: #fff;
    resize: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: #a7a8ac;
}

.contact .contact-container .right-column {
    float: left;
    margin-top: 0.5rem;
}

.contact .contact-container .right-column .contact-details {
    list-style-type: none;
    margin-left: -3rem;
}

.contact .contact-container .right-column .contact-details .contact-details-item {
    height: 6rem;
    color: #a7a8ac;
}

.contact .contact-container .right-column .contact-details .contact-details-item i {
    font-size: 3rem;
    line-height: 6rem;
    color: #44b2e2;
    float: left;
}

.contact-text {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: 0.2rem;
}

.contact .contact-container .right-column .contact-details .contact-details-item a {
    color: #a7a8ac;
    text-decoration: none;
    transition-duration: 0.5s;
}

.contact .contact-container .right-column .contact-details .contact-details-item a:hover {
    color: #fff;
}

.contact .contact-container .right-column .contact-details .contact-details-item .location {
    margin-left: 5.5rem;

}

.contact .contact-container .right-column .contact-details .contact-details-item .phone {
    margin-left: 4.9rem;
}

.contact .contact-container .right-column .contact-details .contact-details-item .mail {
    margin-left: 4.6rem;
}

.contact .contact-container .right-column .social-box {
    position: relative;
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
}

.contact .contact-container .right-column .social-box a .social-icon {
    color: #fff;
}

.contact .contact-container .right-column .social-box .social-icon {
    display: inline-block;
    position: relative;
    width: 7rem;
    height: 7rem;
    color: #fff;
    background-color: #44b2e2;
    cursor: pointer;
    top: 0;
    left: -2rem;
    margin: 1rem auto;
    line-height: 7rem;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.contact .contact-container .right-column .social-box .social-icon:after {
    content: '';
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 0;
    left: 0;
    line-height: 7rem;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 0.1rem #44b2e2;
    transition: all .2s ease-in-out;
}

.contact .contact-container .right-column .social-box .social-icon:hover {
    background-color: #fff;
}

.contact .contact-container .right-column .social-box .social-icon:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.contact .contact-container .right-column .social-box a .social-icon:hover {
    color: #44b2e2;
}

.contact .contact-container .right-column .copyright {
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact .contact-container .right-column hr {
    border-color: rgba(255, 255, 255, .8);
}

/* CONTACT SECTION STYLES END */


/*----------
Mobile Styles
------------*/

/* HOME SECTION MOBILE STYLES START */
@media (min-width: 240px) and (max-width: 319px) {
    .home h1 {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
    }

    .home p {
        letter-spacing: 0rem;
    }

    .contact-text {
        letter-spacing: 0rem;
        font-size: 0.65rem;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .home p {
        font-size: 1.25rem;
        letter-spacing: 0rem;
    }
}

@media (min-width: 360px) and (max-width: 479px) {
    .home p {
        font-size: 1.4rem;
        letter-spacing: 0rem;
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    .home p {
        font-size: 1.9rem;
        letter-spacing: 0.1rem;
    }
}

/* HOME SECTION MOBILE STYLES END */

/* ABOUT SECTION MOBILE STYLES START */
@media (min-width: 1px) and (max-width:379px) {
    .about .right-column .buttons-container .btn {
        width: 100%;
    }
}

@media (min-width: 1px) and (max-width:766px) {
    .about {
        height: auto;
    }

    .about .about-container {
        width: 100%;
        float: none;

    }

    .about .about-container {
        height: auto;
    }

    .about .about-container .buttons-container {
        margin-bottom: 2rem;
    }

    .about .about-container .buttons-container a {
        margin-top: 0.5rem;
        width: 100%;
    }
}

/* ABOUT SECTION MOBILE STYLES END */

/* SKILLS SECTION MOBILE STYLES START */
@media(max-width:766px) {
    .skills .icons-container .icon-box {
        width: 48%;
    }
}

/* SKILLS SECTION MOBILE STYLES END */

/* PORTFOLIO SECTION MOBILE STYLES START */
@media (min-width: 240px) and (max-width: 279px) {
    .content {
        height: 40rem;
    }

    .project-box {
        width: 25rem;
    }
}

@media (min-width: 280px) and (max-width: 319px) {
    .content {
        height: 35rem;
    }

    .project-box {
        width: 30rem;
    }
}

@media (min-width: 320px) and (max-width: 339px) {
    .content {
        height: 35rem;
    }

    .project-box {
        width: 30rem;
    }
}

@media (min-width: 340px) and (max-width: 400px) {
    .project-box {
        width: 35rem;
    }
}

/* PORTFOLIO SECTION MOBILE STYLES END */

/* CONTACT SECTION MOBILE STYLES START */
@media (min-width: 1px) and (max-width: 871px) {

    .contact .contact-container .left-column,
    .contact .contact-container .right-column {
        width: 100%;
        height: auto;
        float: none;
    }

    .contact .contact-container .right-column {
        float: none;
        margin-top: 10px;
    }


    .contact .contact-container .right-column .contact-details {
        list-style-type: none;
        width: 90%;
        margin: 0 auto;
    }

    .contact .contact-container .right-column hr {
        width: 70%;
    }

    .contact .contact-container .left-column form {
        width: 100%;
    }
}

@media (min-width: 450px) and (max-width: 871px) {
    .contact-text {
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
    }
}

@media (min-width: 411px) and (max-width:449px) {
    .contact-text {
        letter-spacing: 0.2rem;
        font-size: 1.3rem;
    }
}

@media (min-width: 320px) and (max-width:410px) {
    .contact-text {
        letter-spacing: 0rem;
        font-size: 1.1rem;
    }
}

/* CONTACT SECTION MOBILE STYLES END */








/*-----------------------*/
#home:target,
#about:target,
#skills:target,
#portfolio:target,
#contact:target {
    padding-top: 6rem;
}


.tabs {
    width: 100%;
    list-style: none;
    display: table;
    margin: 0;
    padding: 0;
}

.tabs__item {
    width: 100%;
    float: left;
}

@media screen and (min-width: 40em) {
    .tabs__item {
        display: table-cell;
        float: none;
        width: auto;
    }
}

.tabs__link {
    display: block;
}

.primary-nav {
    text-align: center;
    overflow: hidden;
}

.primary-nav a {
    padding: 1.5rem 1rem;
    color: #eeeeee;
    text-decoration: none;
    border-right: 1px solid #333333;
    font-weight: 400;
    font-size: 1.75rem;
}

.primary-nav a:hover {
    color: #333333;
    background: #44b2e2;
}

.js .nav-collapse {
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
}

.nav-collapse.opened {
    max-height: 100%;
}

.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    user-select: none;
}

@media screen and (min-width: 40rem) {
    .js .nav-collapse {
        position: relative;
    }

    .js .nav-collapse.closed {
        max-height: none;
    }

    .nav-toggle {
        display: none;
    }
}

.nav-collapse {
    list-style: none;
    width: 100%;
    float: left;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-toggle {
    position: fixed;
    user-select: none;
    text-decoration: none;
    text-indent: -99.9rem;
    position: relative;
    overflow: hidden;
    width: 5.5rem;
    height: 5.5rem;
    float: right;
}

.nav-toggle:before {
    color: #44b2e2;
    font-size: 4.5rem;
    text-transform: uppercase;
    position: absolute;
    content: "≡";
    text-indent: 0;
    text-align: center;
    line-height: 4.5rem;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-toggle.active::before {
    font-size: 2.4rem;
    content: "X";
}